/*@import url('https://fonts.googleapis.com/css?family=Exo+2:100,200,300,400,500,600,700|Dancing+Script:100,200,300,400,500,600,700');*/
/*@import url("https://fonts.googleapis.com/css?family=Satisfy|Exo+2&display=swap");*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

/*----------------------------------------------------Header*/

.navbar {
    background-color: none;
}

.navbar a {
    text-align: center;
    padding: 1% 2%;
    color: white;
    text-decoration: none;
    font-size: 36px;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-family: "Fredoka One", sans-serif;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.navbar-toggler {
    background-color: white;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border: 2px solid rgba(0,0,0,.5);
}

.header-image {
    background: url("../images/header-image.jpg") no-repeat bottom right fixed;
    height: 120vh;
    width: 100%;
    background-size: cover;
}

.logo {
    display: block;
    max-width: 30%;
    height: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

/*----------------------------------------------------Home/Index*/

.about {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 30px;
    background: white;
    color: black;
    padding: 20px;
    border: 4px solid black;
    text-align: center;
    font-family: "Fredoka One", sans-serif;
}

.home-buttons {
    display: flex;
  justify-content: center;
  align-items: center;
}

.btn-howtoplay {
  background-color: white;
  border: 4px solid black;
  border-radius: 30px;
  font-family: "Fredoka One", sans-serif;
  color: black;
  margin: 20px;
  /*position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);*/
}

.btn-letsplay {
  background-color: white;
  border: 4px solid black;
  border-radius: 30px;
  font-family: "Fredoka One", sans-serif;
  color: black;
  margin: 20px;
  /*position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);*/
}


/*----------------------------------------------------Modal How to Play*/

.modal-content {
    border: 4px solid black;
    border-radius: 30px;
}

.modal-title {
    font-family: "Fredoka One", sans-serif;
}

.modal-body {
    font-family: "Fredoka One", sans-serif;
}

.btn-modal-close {
  background-color: white;
  border: 4px solid black;
  border-radius: 30px;
  font-family: "Fredoka One", sans-serif;
  color: black;
  margin: 20px;
}

.btn-modal-play {
  background-color: white;
  border: 4px solid black;
  border-radius: 30px;
  font-family: "Fredoka One", sans-serif;
  color: black;
  margin: 20px;
}

/*----------------------------------------------------Play*/

.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
/*.bin-plastic {
  display: inline-block;
  max-width: 30%;
  height: auto;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

.bin-paper {
  display: inline-block;
  max-width: 30%;
  height: auto;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}*/

/*----------------------------------------------------Contact*/

.contact-form-header {
  padding-top: 20px;
  padding-left: 20px;
  font-family: "Fredoka One", sans-serif;
  color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.form-control {
    border: 4px solid black;
    border-radius: 30px;
}

.form-group {
  padding-left: 20px;
  font-family: "Fredoka One", sans-serif;
  color: black;
}

.btn-submit {
  background-color: white;
  border: 4px solid black;
  border-radius: 30px;
  font-family: "Fredoka One", sans-serif;
  color: black;
}

/*.btn-submit:hover {
    color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    background: black;
    border: white;
}*/


/*----------------------------------------------------Footer*/



/*----------------------------------------------------Media Queries*/


